# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli@latest
    npm install
  displayName: 'npm install'

- script: |
    ng build --prod
  displayName: 'npm build'
  

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Free Trial (5cbce15a-76a2-4222-8f33-c9f8c3edaa7d)'
    appType: 'webAppLinux'
    WebAppName: 'etoken'
    packageForLinux: '$(System.DefaultWorkingDirectory)/dist'
    RuntimeStack: 'NODE|10.1'
  displayName: 'Deploy'